<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>fitnesse-test</id>
      <username>admin</username>
      <password>admin123</password>
   </server>
   <server>
      <id>Releases</id>
      <username>admin</username>
      <password>admin123</password>
   </server>
   </servers>

  <profiles>
    <profile>
      <id>local_nexus</id>
      <repositories>
        <repository>
          <id>fitnesse-test</id>
          <url>http://34.249.127.71:8081/nexus/content/repositories/fitnesse-test</url>
        </repository>
      </repositories>

    </profile>

      <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>fitnesse-test</id>
          <url>http://192.168.6.24:8081/nexus/content/repositories/fitnesse-test</url>
        </repository>
      </repositories>

    </profile>
	      <profile>
      <id>nexus_releases</id>
      <repositories>
        <repository>
          <id>Releases</id>
          <url>http://192.168.6.24:8081/nexus/content/repositories/releases</url>
        </repository>
      </repositories>

    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
	<activeProfile>nexus_releases</activeProfile>
  </activeProfiles>
</settings>